@media(max-width: 1024px) {

  #title {
    text-align: center;
  }

  .slide-img {
    position: static;
    transform: rotate(0);
  }

  #cta h3 {
    font-size: 1.5rem;
  }

  #footer p {
    padding-top: 1rem;
  }

}